{% extends "base.html" %}
{% set HIDE_SIDEBAR = true %}

{% block content %}
<section id="content" class="body">
    <div class="row">
        <div class="col-sm-12 col-lg-12 text-center">
            <h1 style="color:darkslategrey;">Flywheels and Feedback Loops</h1>
            <h3 style="color:slategrey;">Online markets such as Amazon have completely changed retailing so that even small companies can use e-commerce platforms to compete globally. But success requires new ways of thinking, outstanding customer service, and unprecedented speed. Bernie Thompson’s small electronics company became one of the first private-label brands to successfully capitalize on Amazon fulfillment, and even Amazon has touted him as a success. Now he shares how you can find similar success. Going well beyond the basics (which are widely available elsewhere), this book is for sophisticated private-label sellers and manufacturers who recognize that there are no tricks or schemes, only winning strategies, best practices, and tools for overcoming the inertia of discoverability to get the sales flywheel moving. Specific tips and advice include where to focus your energy, how to make data actionable, and how to close the feedback loops that drive successful e-commerce.</h3>
            <p></p>
            <img class="img img-responsive" src="/images/eBook_Cover.png" align="center" alt="Flywheels and Feedback Loops">
            </div>
    </div>
</section>
{% endblock %}
