{% extends "base.html" %}
{% set HIDE_SIDEBAR = true %}

{% block content %}
<section id="content" class="body">

    <div class="row">
        <div class="col-sm-12 col-lg-12 text-center">
            <h3 style="color: slategray;">Flywheels and Feedback Loops: A Guide to Success for Amazon Private-Label Sellers</h3>
            <h4 style="...">by Bernie Thompson with Joni Sensel</h4>
            <h6 style="...">Foreword by Chris McCabe (CEO of <a href="http://ecommercechris.com/"; target="_blank"; style="color:darkorange">ecommercechris.com</a>)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-push-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/boEhtzvRYQs"></iframe>
            </div>
        </div>
    </div>
    <div class="row">
            <p style="background-color: lightgrey">&nbsp;</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 text-left">
                <div row class="col-md-4">
                    <p>&nbsp;</p>
                    <img class="img img-responsive" src="/images/eBook Dec.png" align="center" alt="Flywheels and Feedback Loops">
                    <p>&nbsp;</p>
                </div>
                    <h3 style="color:slategrey; font-weight: bold;">About this Book</h3>
                    <p style="color:slategrey;">Online markets such as Amazon have completely changed retailing so that even small companies can use e-commerce platforms to compete globally. But success requires new ways of thinking, outstanding customer service, and unprecedented speed. </p>
                     <p style="color:slategrey;">Bernie Thompson’s small electronics company became one of the first private-label brands to successfully capitalize on Amazon fulfillment, and even Amazon has touted him as a success.
                        Now he shares how you can find similar success. </p>
                    <h4 style="...">Who is this book for</h4>
                    <p style="color:slategrey;"> Going well beyond the basics (which are widely available elsewhere), this book is for Amazon private-label sellers and manufacturers who recognize that there are no tricks or schemes, only winning strategies, best practices, and tools for overcoming the inertia of discoverability to get the sales flywheel moving.
                    Get access to specific tips and advice including where to focus your energy, how to make data actionable, and how to close the feedback loops that drive successful e-commerce.</p>
                    <p style="color:slategrey;">Kindle Price: $9.99</p>
                    <p style="color:slategrey;">Expected date of release: Jan 1, 2017</p>
                    <p style="color:slategrey;">To learn more, ask questions or receive updates on release dates, please email: <a href=“mailto:flywheels@efficientera.com"; style="color: darkorange">flywheels@efficentera.com</a></p>
                    <p>&nbsp;</p>
        </div>
        </div>
    <div class="row">
            <p style="background-color: lightgrey">&nbsp;</p>
    </div>

    <div class="row" style="align-content: center">
        <div class="col-lg-12 text-center"; style="align-self: center">
            <h3 style="color:slategrey; font-weight: bold;">About the Authors</h3>
        </div>
    </div>

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                           <img class="img img-responsive" src="images/Bernie.png" alt="Bernie Thompson">

                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Bernie Thompson</h4>
                            <p>
                                Bernie worked for 15 years as a software developer for IBM, S3, Microsoft, and DisplayLink and subsequently founded several start-ups before creating Plugable Technologies in 2009. After spending his career working on devices and device drivers, he recognized an opportunity to deliver higher quality, plug-and-play products while providing better customer support to succeed in channels, including Amazon, where product reviews matter. Plugable bet on Amazon and FBA from day one, succeeding in the brutal electronics category against big competitors. Spending the first year and a half doing everything himself motivated him to automate as much as possible, and Efficient Era was born in 2014 as a way to share the resulting tools with others. Bernie lives in the Seattle area with his family and dog and frequently hikes in the surrounding mountains.
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive " src="images/Joni.png" alt="Joni Sensel">
                        </div>
                        <div class="col-xs-10 col-sm-9">

                            <h4>Joni Sensel</h4>
                            <p>
                               Joni is the author or ghostwriter of more than half a dozen nonfiction books on topics ranging from feathers to Lean healthcare. She also writes fiction for young readers. She lives at the knees of Mt. Rainier with her sweetheart, two dogs, sundry elk, and the occasional mouse. Read more at www.jonisensel.com.
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
    <div class="row">
            <p style="background-color: lightgrey">&nbsp;</p>
    </div>

            </div>


</section>
{% endblock %}
