{% extends "base.html" %}
{% set HIDE_SIDEBAR = true %}

{% block content %}
<section id="content" class="body">
<!--    <div class="jumbotron" style="background-image: url('images/home/header.jpg')">
        <div class="jumbotron-text">
            <h2>Power Tools for Power Sellers</h2>
            <p>E-commerce is changing retail as we know it. Just a decade ago, “small business owner” and “global seller” were mutually exclusive. With the explosion of e-commerce and especially the Amazon Marketplace, the world is a different place. Small business owners have been placed on equal footing with the previously undefeated giant corporations.The internet has enabled the opening of this new era in retail.</p>
            <p><a href="/blog" class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>


                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">

                             <img class="img img-responsive" src="images/icons/BulkOrder.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Bulk Order Notification</h4>
                            <p>
                                If you’re just relying on Amazon, there’s no way for you to know if you received a large order.
                                With our Bulk Order Notification tool, you define how large a “bulk order” should be,
                                and our tool will notify you whenever you receive one.
                            </p>
                        </div>
                    </div>
                </div>

-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 text-center">
            <!--<h2>Efficient Era</h2> -->
            <h1 style="color:darkslategrey;">Power Tools for Amazon Power Sellers</h1>
            <p style="color:slategrey;">Email Automation  • Review Notifications •  VAT Invoice Automation  •  Bulk Order Notification  • Sales Charts • Category Ranking
            <a href = "https://app.efficientera.com/register/?" target="_blank">
                <img class="center-block" src="images/freetrial.png" align="center">
            </a>
            <img class="img img-responsive" src="images/EE_Banner_New_Small.jpg" align="center">
            <hr>
        </div>

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/postorder">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive " src="images/icons/chat.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Email Automation</h4>
                            <p>
                               Conversations with buyers shouldn’t end after they hit ‘Buy Now.’ With Follow-Up Email Automation, you can
                                set up email campaigns to get fired based on events such when the order was placed, shipped or delivered.
                                Templates are customizable with text placeholders that you can weave into your message. Format with our rich text editor or use your own HTML code.
                            </p>

                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/feedback">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/ReviewNotification.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">

                            <h4>Product Reviews with Buyer Matching</h4>
                            <p>Keeping track of product reviews is hugely important, yet manually looking out for them can get overwhelming.
                                Our Review Notifications Tool automatically sends out alerts each time you receive a product review.
                                Use our review-to-buyer matching algorithm to quickly respond to your customers, especially if they left a negative review.
                            </p>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/accounting">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive " src="images/icons/math.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">

                            <h4>VAT Invoice Automation</h4>
                            <p>If you sell in Europe, you know that foreign taxes can be complicated and time-consuming.
                                With our VAT Invoice Automation tool, you spend less time dealing with tax document generation for your customers
                                and more time on your business. Automate the process of creating and sending VAT invoices
                                and never have to worry about it again!
                            </p>

                            <!--<a href="/pages/accounting" class="btn btn-info">Learn More</a>-->

                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/seller-feedback">
                        <div class="col-xs-2 col-sm-3 img-main">
                        <img class="img img-responsive" src="images/icons/alert.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Seller Feedback</h4>
                            <p>
                                Amazon’s measure of why a customer should buy from you specifically, is seller rating.
                                Unfortunately, they do not inform you when you receive Seller Feedback.
                                Our Seller Feedback tool gives you email notifications, dashboard based analytics of your seller performance,
                                as well the ability to send automated mails each time you receive a positive or negative Seller Feedback.
                             </p>
                        </div>
                    </div>
                </div>








                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/report.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Sales Charts with Event Annotations</h4>
                            <p>
                                In order to monitor how your products are performing over a period of time, it’s vital to be able to
                                visualize your sales data. Our Sales Charts do that for you, but there’s more! They also allow you to
                                annotate your data with custom events, such as a coupon campaign you launched or a holiday event
                                that you know could have impacted your performance.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/CategoryRanking.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Category Ranking</h4>
                            <p>
                                Your product could be listed in multiple categories, and those categories might also evolve over time.
                                Knowing how your products are performing across various categories over time on the same chart can provide
                                useful insights for category placements, a powerful tool if used the right way.  <strong>..Undergoing upgrades!</strong>
                            </p>
                        </div>
                    </div>
                </div>


                 <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/LowStock.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Low Stock Notification</h4>
                            <p>
                            We’ve all been there, and we know how stressful it can be - running out of stock is a problem many sellers deal with.
                                One of the first, yet most important bulwarks against stock-outs is a low stock notification system.
                                Our Low Stock Notification tool is completely customizable, letting you decide what you consider low stock. <strong>..Coming Soon!</strong>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/keyword.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Keyword Analytics</h4>
                            <p>
                              With the ever changing Amazon SERP algorithm, it’s important for sellers to know exactly which keywords they are ranking for.
                                Our Keyword Ranking tool allows you to provide a keyword list and then monitor your performance against that list
                                over time. This can be a very powerful input to refining your listing and running PPC campaigns. <strong>..Undergoing upgrades!</strong>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
    <p></p>
    </div>

    <div class="well well-lg" style="background-color: lightgrey">
        <div class="row">
            <div class="col-lg-12">

            <h3>LIVE Webinar with Bernie Thompson: You Don't Need to Game It! (October 25, 10am PST, 1pm EST)</h3>
            </div>
            <div class="col-md-6">
                <a href="https://efficientera.leadpages.co/ee-webinar" target="_blank" >
                <img class="img img-responsive" src="images/pages/fbevent.png" align="center">
                </a>

            </div>
            <div class="col-md-6">

                <p>In a shocking, yet somewhat inevitable turn of events, Amazon has announced that it is completely banning all discounted reviews, except for those provided by the Vine program, which is only available to Amazon Retail, that too at a very high price point. How is the average marketplace seller, with no access to the Vine program expected to solve the so called "cold-start" problem? </p>
                <p>If you are a marketplace seller interested to learn how to survive Amazon's policy changes without risking any violation of their ToS OR gaming the system, then this Webinar with Bernie Thompson is for you! </p>


                <p></p>
                 <p>
                 <a href="https://efficientera.leadpages.co/ee-webinar" class="btn btn-primary btn-lg" target="_blank">Register</a>
                </p>
                </p>

            </div>
    </div>
</div>

</section>
{% endblock %}
