{% extends "base.html" %}
{% set HIDE_SIDEBAR = true %}

{% block content %}
    <section id="content" class="body">        
        <div class="jumbotron">
            <h1>Welcome to Efficient Era!</h1>
            <p>We are working to launch a new service to help Web Retailers sell their products across multiple marketplaces and geographies. You will find a list of our launched and planned features below.</p>
            <p><a href="/blog" class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-sm-12 col-lg-10">
                <h3 class="text-center">Efficient Era offers these service and more</h3>
              <h4 class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h4>Reporting</h4>
                    <div class="panel-body">
                        <p>We love reporting! We love reporting so much!
                        <br><strong><a href="">Learn more</a></strong></p>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Feedback and Alerts</div>
                    <div class="panel-body">
                        <p>Feedback is important. Alerts tell you when stuff happens. Something loops.
                        <br><strong><a href="">Learn more</a></strong></p>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Accounting</div>
                    <div class="panel-body">
                        <p>Accounting is really boring. We wish we could ignore it.
                        <br><strong><a href="">Learn more</a></strong></p>
                    </div>
                </div>
              </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Listings</div>
                        <div class="panel-body">
                            <p>Listings are how you make money, yo! You should really list your product if you want it to sell.
                                <br><strong><a href="">Learn more</a></strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
