{% extends "bare_base.html" %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pr-2">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="out-nav-link" href="https://efficientera.com/blog/">Blog</a>
            </li>
            <li class="nav-item">
                <a class="out-nav-link" href="https://app.efficientera.com">Login</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn my-2 my-sm-0 btn-sign-up btn-ee" href="https://app.efficientera.com/signup/" onclick="window.open('https://app.efficientera.com/signup/', '_blank');">Sign Up
            </button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div id="home"></div>
    <div class="row animated-row section">
        <div class="col-lg-4 offset-xl-1 col-xl-3 align-self-center py-xs-2 py-sm-2 py-md-2">
            <div class="row">
                <div class="col text-center">
                    <h2>The All-In-One<br/>Amazon Tool</h2>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col">
                    <h4>Efficient Era is a comprehensive software tool that helps you succeed on Amazon. Improve your
                        PPC campaigns, track your product listings, and send feedback requests all in one place.</h4>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-lg btn-ee" href="https://app.efficientera.com/signup/" onclick="window.open('https://app.efficientera.com/signup/', '_blank');">Get Started for
                            Free
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <small>No credit card required</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-7 py-xs-2 py-sm-2 py-md-2">
            <div class="d-flex justify-content-center">
                <figure>
                    <img class="img-fluid rounded mx-auto shadow" src="/images/pages/index/dashboard0319.png"
                         alt="Advertising Dashboard">
                </figure>
            </div>
        </div>
    </div>
    <div id="features"></div>
    <div class="row light-row section">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">A Comprehensive Suite of Tools for Amazon Sellers</h2>
                    <h4 class="text-center">Our software focuses on four key areas for Amazon sellers: </h4>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col">
                    <div class="card-deck">
                        <div class="card feature-card hover-scale">
                            <div class="card-body">
                                <div class="card-title">Ads</div>
                                <hr/>
                                <div class="feature-detail">With our PPC Manager, you can manage all of your campaigns in one central location. Not only that, but our tool will make recommendations for ways to improve your campaigns based off your current ad data.
                                </div>
                            </div>
                        </div>
                        <div class="card feature-card hover-scale">
                            <div class="card-body">
                                <div class="card-title">Alerts</div>
                                <hr/>
                                <div class="feature-detail">
                                We alert you within hours of new changes made to your product listings. This includes
                                new reviews, buy box changes, and more.
                                </div>
                            </div>
                        </div>
                        <div class="card feature-card hover-scale">
                            <div class="card-body">
                                <div class="card-title">Automation</div>
                                <hr/>
                                <div class="feature-detail">
                                We automate your customer interactions. When a customer places a new order,
                                you can send out an automated thank you email or feedback request.
                                </div>
                            </div>
                        </div>
                        <div class="card feature-card hover-scale">
                            <div class="card-body">
                                <div class="card-title">Analytics</div>
                                <hr/>
                                <div class="feature-detail">
                                Our software comes with reports that help you track orders, sales, and profits. Using
                                our graphs and lists, you’ll be able to identify trends and spot problems immediately.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col">
                    <div class="card-deck">
                        <div class="card hover-scale">
                            <div class="card-body text-center">
                                <i class="fa fa-signal fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="63148" data-speed="12000"></h2>
                                <h3 class="count-text ">Ad Campaigns Automated</h3>
                            </div>
                        </div>
                        <div class="card hover-scale">
                            <div class="card-body text-center">
                                <i class="fa fa-bolt fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="5663447" data-speed="12000"></h2>
                                <h3 class="count-text">Keywords Processed</h3>
                            </div>
                        </div>
                        <div class="card hover-scale">
                            <div class="card-body text-center">
                                <i class="fa fa-lightbulb-o fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="2182086" data-speed="12000"></h2>
                                <h3 class="count-text ">Intelligent Bids Automated</h3>
                            </div>
                        </div>
                        <div class="card hover-scale">
                            <div class="card-body text-center">
                                <i class="fa fa-envelope fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="9936463" data-speed="12000"></h2>
                                <h3 class="count-text ">Emails Sent</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pricing"></div>
    <div class="row animated-row section">
        <div class="col-lg offset-xl-1 col-xl-10 align-self-center py-xs-2 py-sm-2 py-md-2">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Pricing Plans</h2>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-xl col-lg-6 col-md-6 col-sm-12 col-xs-12 order-1 py-xs-3 py-sm-3 py-md-3 d-flex align-items-center justify-content-center">
                    <div class="card card-pricing hover-scale">
                        <div class="card-body">
                            <div class="price-title">Basic</div>
                            <hr/>
                            <div class="price-detail">
                                <p class="price pt-4"><sup style="font-size: .55em;">$</sup>49</p>
                                <p class="details">0-19 ASINS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-6 col-md-6 col-sm-12 order-2 py-xs-3 py-sm-3 py-md-3 d-flex align-items-center justify-content-center">
                    <div class="card card-pricing hover-scale">
                        <div class="card-body">
                            <div class="price-title">Standard</div>
                            <hr/>
                            <div class="price-detail">
                                <p class="price pt-4"><sup style="font-size: .55em;">$</sup>99</p>
                                <p class="details">20-49 ASINS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-6 col-md-6 col-sm-12 order-3 py-xs-3 py-sm-3 py-md-3 d-flex align-items-center justify-content-center">
                    <div class="card card-pricing hover-scale">
                        <div class="card-body">
                            <div class="price-title">Plus</div>
                            <hr/>
                            <div class="price-detail">
                                <p class="price pt-4"><sup style="font-size: .55em;">$</sup>199</p>
                                <p class="details">50-199 ASINS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-6 col-md-6 col-sm-12 order-4 py-xs-3 py-sm-3 py-md- d-flex align-items-center justify-content-center">
                    <div class="card card-pricing hover-scale">
                        <div class="card-body">
                            <div class="price-title">Premium</div>
                            <hr/>
                            <div class="price-detail">
                                <p class="price pt-4"><sup style="font-size: .55em;">$</sup>399</p>
                                <p class="details">200-1000 ASINS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-6 col-md-6 col-sm-12 order-5 py-xs-3 py-sm-3 py-md-3 d-flex align-items-center justify-content-center">
                    <div class="card card-pricing hover-scale">
                        <div class="card-body">
                            <div class="price-title">Enterprise</div>
                            <hr/>
                            <div class="price-detail">
                                <p class="price" style="font-size:1.2em; padding-top:2.5rem;">
                                <a href="mailto:support@efficientera.com?subject=Enterprise%20Plan&body=Hi%2C%0A%0AMy%20business%20qualifies%20for%20the%20Efficient%20Era%20Enterprise%20plan%20and%20I%20would%20like%20to%20know%20more%20information.%0A%0ARegards"
                                   style="color:inherit;">Contact Us</a></p>
                                <p class="details pt-2">1,000+ ASINS or</p>
                                <p class="details">15,000+ Orders per month</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="offset-2 col-8 text-center">
                    <h4>Our pricing is based off the number of ASINs within your product catalog. If your ASIN or order
                        count qualifies for the Enterprise plan, please contact us at
                        <a href="mailto:support@efficientera.com?subject=Enterprise%20Plan&body=Hi%2C%0A%0AMy%20business%20qualifies%20for%20the%20Efficient%20Era%20Enterprise%20plan%20and%20I%20would%20like%20to%20know%20more%20information.%0A%0ARegards"
                           style="color:inherit;">support@efficientera.com</a> to get more information.</h4>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-lg btn-ee" href="https://app.efficientera.com/signup/">Start Your Free
                            30-Day Trial
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="testimonials"></div>
    <div class="row light-row section">
        <div class="col">
            <div class="row">
                <div class="offset-1 col-10">
                    <div class="text-center">
                        <h2>So affordable, it's a no brainer</h2>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="offset-lg-2 col-lg-8">
                    <div id="testimonials-slider" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <div class="carousel-inner">
                            <!--<ol class="carousel-indicators">
                                <li data-target="#testamonial-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#testamonial-slider" data-slide-to="1" class="active"></li>
                            </ol>-->
                            <div class="carousel-item active">
                                <div class="row pb-5">
                                    <div class="col-3">
                                        <div class="d-flex justify-content-center">
                                            <img class="img-fluid rounded-circle" src="/images/stevechou.png">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <p class="testimonial-text">"Efficient Era saves me time and money by monitoring
                                            my product listings so I can focus my efforts on growing my business. This
                                            all-in-one suite is so inexpensive that it's a no-brainer to sign up."</p>
                                        <p>Steve Chou, <a href="https://mywifequitherjob.com/" target="_blank">My Wife
                                            Quit Her Job</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row pb-5">
                                    <div class="col-3">
                                        <div class="d-flex justify-content-center">
                                            <img class="img-fluid rounded-circle" src="/images/dana.png">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <p class="testimonial-text">"I started using Efficient Era for my feedback
                                            alerts, but then discovered that it's part of a whole suite of tools that
                                            can really help our business. You can tell this software was designed by an
                                            Amazon seller."</p>
                                        <p>Dana Jaunzemis, <a href="https://www.homehealthtesting.com/" target="_blank">Home
                                            Health Testing</a></p>
                                    </div>
                                </div>
                            </div>
                            <!--<a class="carousel-control-prev" href="#testimonials-slider" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#testimonials-slider" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof (settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof (settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>
{% endblock %}