{% extends "base.html" %}
{% set HIDE_SIDEBAR = true %}

{% block content %}
<section id="content" class="body">
<!--    <div class="jumbotron" style="background-image: url('images/home/header.jpg')">
        <div class="jumbotron-text">
            <h2>Power Tools for Power Sellers</h2>
            <p>E-commerce is changing retail as we know it. Just a decade ago, “small business owner” and “global seller” were mutually exclusive. With the explosion of e-commerce and especially the Amazon Marketplace, the world is a different place. Small business owners have been placed on equal footing with the previously undefeated giant corporations.The internet has enabled the opening of this new era in retail.</p>
            <p><a href="/blog" class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 text-center">
            <!--<h2>Efficient Era</h2> -->
            <h2 style="color:darkslategrey;">Power Tools for Amazon Power Sellers</h2>
            <p style="color:slategrey;">Feedback •  Accounting • Analytics •  Listing Automation •  Notifications</p>
                 <img class="img img-responsive" src="images/EE_Banner_WithGuy.jpg" align="center">
            <hr>
        </div>

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/feedback">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive " src="images/icons/chat.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Feedback</h4>
                            <p>Checking your reviews manually takes so much time!  Let us help you save time and automate. Respond quickly to your customer’s concerns by addressing negative reviews in real time.</p>
                            <a href="/pages/feedback" class="btn btn-info">Learn More</a>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/accounting">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/math.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Accounting</h4>
                            <p>Struggling with complicated foreign taxes? Spend less time dealing with financial headaches by using our various accounting automation tools.</p>
                            <a href="/pages/accounting" class="btn btn-info">Learn More</a>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <a href="/pages/alerts">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive " src="images/icons/notification.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Alerts</h4>
                            <p>Always be in the loop.  Set up notifications so you can be up to date on all things regarding your business.  Never run out of stock again!</p>
                            <a href="/pages/alerts" class="btn btn-info">Learn More</a>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/keyword.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Keywords</h4>
                            <p>
                                If people can't find your product, then they can't buy it either. Help get your
                                product on the first page of results with our keyword tool.
                                <br><strong>Coming Soon!</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/automatic.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Listing Automation</h4>
                            <p>
                                With translation and multichannel functionality, our listing automation tool
                                allows you to sell your products across geographies and marketplaces.
                                <br><strong>Coming Soon!</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row feature-panel">
                        <div class="col-xs-2 col-sm-3 img-main">
                            <img class="img img-responsive" src="images/icons/report.png">
                        </div>
                        <div class="col-xs-10 col-sm-9">
                            <h4>Analytics</h4>
                            <p>
                                Visualize your data, make informed decisions, and optimize your performance.
                                Take advantage of Amazon reports by requesting the reports you want.
                                <br><strong>Coming Soon!</strong>
                            </p>
                        </div>
                    </div>
                </div>

<!--
                <div>
                    <div class="col-xs-10 col-sm-9">
                        <h4>Sellers Conference for Online Sellers 2016</h4>
                        <p>
                            SCOE Conference and get $175 off registration fees. SCOE Conference and get $175 off registration fees
                        </p>
                         <img class="img img-responsive" src="images/SCOE Banner 2.jpg">
                    </div>
                </div>

-->

            </div>

        </div>
    </div>

    <div class="jumbotron" style="background-image: url('images/home/header.jpg')">
        <div class="jumbotron-text">
        <div class="row">
        <h2 >Sellers' Conference for Online Entrepreneurs. Aug 25-28, 2016. Seattle.</h2>
            <div class="col-md-5">
                <a href="http://scoe.biz/scoe-2016/" target="_blank" >
                <img class="img img-responsive" src="images/SCOE Banner 2.jpg">
                </a>

            </div>

            <div class="col-md-7">
                <h5>Have you heard about SCOE, the Seller’s Conference for Online Entrepreneurs? It’s the original conference for online sellers, and we are proudly speaking and exhibiting this August. This year, our founder, Bernie Thompson is speaking on diversifying by selling internationally. In addition to Bernie speaking on diversifying internationally, you can also find Efficient Era as an exhibitor at Vendorland at the SCOE Conference in Seattle. </h5>
                <h5>Whether you’re an online retail rookie or you’ve been selling your whole life, the SCOE conference is the place to be. New ideas and the future of ecommerce will be discussed at length by merchants just like you.    </h5>
                <h3>Save $175 off your event ticket by using the code "EFFICIENTERA".</h3>
                <p></p>
                 <p>
                 <a href="http://scoe.biz/scoe-2016/" class="btn btn-primary btn-lg" target="_blank">Learn more</a>
                </p>
                </p>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
