{% extends 'base.html' %}

{% block meta %}
    <meta name="save_as" content="affiliate/index.html" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row py-4">
                <div class="col">
                    <h1 class="text-center pt-4">Become an Efficient Era Affiliate today!</h1>
                    <h2 class="text-center pb-4">When you promote Efficient Era, you receive an instant benefit of $5 per user who completes their signup, plus 50% of their first monthly payment to us!</h2>
                </div>
            </div>
            <div class="row py-4">
                <div class="col card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">How Does It Work?</h1>
                            <p class="card-text">When you join Efficient Era’s affiliate program by filling out the form below, you’ll receive an affiliate link that you can use on your website or marketing. When a user clicks on the link and signs up, we’ll credit $5 right away to your affiliate account, as well as 50% of the user’s first monthly payment once we confirm their payment. </p>
                            <p class="card-text">Payments are processed once every month through PayPal. A 20 USD minimum balance is required for payout. </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">How Can I Promote Efficient Era?</h1>
                            <p class="card-text">You can talk about us through social media, your website, video channel, and more! Feel free to use the materials on our website for promoting us. Just sign up below to get started. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <h1 class="text-center"><a class="btn btn-ee" href="https://app.efficientera.com/p/referral" target="_blank">Get Started Here!</a></h1>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <div class="accordion" id="faq">
                        <div class="card">
                            <div class="card-header p-2" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Terms of Service
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faq">
                                <div class="card-body">
                                    <p class="card-text">THIS IS A LEGAL AGREEMENT BETWEEN YOU AND EFFICIENTERA.COM. BY APPLYING TO BE AN AFFILIATE YOU ARE AGREEING THAT YOU HAVE READ AND UNDERSTOOD THE TERMS OF SERVICE OF THIS AGREEMENT AND THAT YOU AGREE TO BE LEGALLY RESPONSIBLE FOR EACH ITEM.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-2" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                      Termination and Rejection
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#faq">
                                <div class="card-body">
                                    <p class="card-text">Either you or Efficient Era, may end this Affiliate Agreement AT ANY TIME, with or without reason, by giving the other party written notice. Written notice can be in the form of an email. In addition, this Agreement will terminate immediately upon any breach of this agreement by you.</p>
                                    <p class="card-text">We review each application before approval and we may re-evaluate your application at a later time. We may also reject your application at our sole discretion or cancel your application if we determine that your partnership is unsuitable for our Affiliate Program. </p>
                                    <p class="card-text">We may consider your partnership unsuitable if you place our affiliate links in a location that:</p>
                                    <ul>
                                        <li>Promotes illegal, unlawful or fraudulent activities</li>
                                        <li>Promotes objectionable or sexually explicit materials</li>
                                        <li>Promotes violence or discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age</li>
                                        <li>Incorporates any materials that infringe upon copyright or other intellectual property rights</li>
                                        <li>Includes "Efficient Era" or any variations or misspellings thereof in its domain name</li>
                                        <li>Contains software that manipulates commissions from other affiliates in our program.</li>
                                    </ul>
                                    <p class="card-text">Note: You may not create or design your website or any other digital material in a manner that resembles our website, or leads customers to believe that you are EfficientEra.com.</p>
                                    <p class="card-text">You may not use the referral program to refer yourself. However, if you have multiple seller accounts with unique MWS credentials you may use your referral code from your first account to add the others.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}