{% extends 'base.html' %}

{% block meta %}
    <meta name="save_as" content="clients/index.html" />
{% endblock %}

{% block content %}
    <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <div class="row pt-5">
            <div class="col">
                <h1 class="text-center">Clients</h1>
            </div>
        </div>
        <div class="row d-flex align-items-center pt-4">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="https://www.emujoy.com/" target="_blank"><img class="img-fluid px-4" src="/images/clients/Emu-Joy-Logo-1000px jpg.jpg" alt="Emu Joy"></a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="http://justsmartkitchenware.com/" target="_blank"><img class="img-fluid px-4" src="/images/clients/JSK Logo 1400px jpg.jpg" alt="Just Smart Kitchenware"></a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="http://www.365vitamins.co.uk/" target="_blank"><img class="img-fluid px-4" src="/images/clients/365 Logo_90 Percent Black_Jan15.png" alt="365 Vitamins"></a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="https://theoilcollection.com/" target="_blank"><img class="img-fluid px-4" src="/images/clients/TOC Logo.jpg" alt="The Oil Collection"></a>
            </div>
        </div>
        <div class="row py-4">
            <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jeipdlE8UhQ" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10">
                <div class="text-center">
                    <h2>Reviews on Webretailer</h2>
                    <a href="https://www.webretailer.com/profiles/efficient-era.asp"><img src="https://www.webretailer.com/badge/v/2/id/2655" alt="5 Star Rating on Web Retailer"/></a>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col card-deck">
                <div class="card">
                    <div class="card-header">Has it all - No need to have multiple software subscriptions</div>
                    <div class="card-body">
                        <p class="card-text">What was good about this product or service overall? Everything. The dashboard is easy to read and understand. Pricing is straightforward and very fair. Efficient Era offers services and analytics you would need at least 3 other subscriptions services for. Plus they are always adding very helpful. <a href="https://www.webretailer.com/forum/9357-has-it-all---no-need-to-have-multiple-software-sub.asp" target="_blank">Read more...</a></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Great tool, excellent value $</div>
                    <div class="card-body">
                        <p class="card-text">What was good about this product or service overall? Easy to use with video tutorials, affordable, good support, providing necessary tools for Amazon sellers. I started using EfficientEra for my Amazon fallow-up emails. That was a life changer as I used to send review request emails manually ever. <a href="https://www.webretailer.com/forum/9194-great-tool-excelent-value-.asp" target="_blank">Read more...</a></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Great service!</div>
                    <div class="card-body">
                        <p class="card-text">I'm using Efficient Era for my Amazon seller account and it is such a time saver. The features are great and the price is very affordable. It's a must have if you sell on Amazon! I really like the VAT invoice features that allow your customers to generate their own purchase orders. <a href="https://www.webretailer.com/forum/9043-great-service.asp" target="_blank">Read more...</a></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Very good.</div>
                    <div class="card-body">
                        <p class="card-text">What was good about this product or service overall? I have found Efficient Era a really simple and effective tool for monitoring reviews. Both customer feedback and product reviews. The new email service is far more simple to set up than another well know platform I have used (which I ditched). <a href="https://www.webretailer.com/forum/8824-very-good-.asp" target="_blank">Read more...</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="offset-1 col-10">
                <div class="text-center">
                    <h2>So affordable, it's a no brainer</h2>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8">
                <div id="testimonials-slider" class="carousel slide" data-ride="carousel" data-interval="4000">
                    <div class="carousel-inner">
                        <!--<ol class="carousel-indicators">
                            <li data-target="#testamonial-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#testamonial-slider" data-slide-to="1" class="active"></li>
                        </ol>-->
                        <div class="carousel-item active">
                            <div class="row pb-5">
                                <div class="col-3">
                                    <div class="d-flex justify-content-center">
                                        <img class="img-fluid rounded-circle" src="/images/stevechou.png">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <p class="testimonial-text">"Efficient Era saves me time and money by monitoring
                                        my product listings so I can focus my efforts on growing my business. This
                                        all-in-one suite is so inexpensive that it's a no-brainer to sign up."</p>
                                    <p>Steve Chou, <a href="https://mywifequitherjob.com/" target="_blank">My Wife
                                        Quit Her Job</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row pb-5">
                                <div class="col-3">
                                    <div class="d-flex justify-content-center">
                                        <img class="img-fluid rounded-circle" src="/images/dana.png">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <p class="testimonial-text">"I started using Efficient Era for my feedback
                                        alerts, but then discovered that it's part of a whole suite of tools that
                                        can really help our business. You can tell this software was designed by an
                                        Amazon seller."</p>
                                    <p>Dana Jaunzemis, <a href="https://www.homehealthtesting.com/" target="_blank">Home
                                        Health Testing</a></p>
                                </div>
                            </div>
                        </div>
                        <!--<a class="carousel-control-prev" href="#testimonials-slider" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#testimonials-slider" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
