{% extends 'base.html' %}

{% block meta %}
    <meta name="save_as" content="features/index.html"/>
{% endblock %}

{% block content %}
    <div id="features"></div>
    <div class="row py-5">
        {% include "content/features.html" %}
    </div>
    <div id="ads"></div>
    <div class="row animated-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h2>Automate Your Amazon Ads</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Intelligent Bid Recommendation</h4>
                            <p>Efficient Era provides weekly recommendations to adjust bids to maximize campaign and keyword performance.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Match Type Recommendations</h4>
                            <p>Our software dig through your data to suggest changes to keyword match types, so you can get super targeted and optimize your ad spend.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>New Keyword Discovery</h4>
                            <p>Our Ads tool automates the process of new keyword discovery by digging through your impressions, clicks, and sales data and finding the most relevant ones.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>ACoS Monitoring</h4>
                            <p>Set your target ACoS on a per-product basis to optimize advertising performance for products at different stages of maturity.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/ad_tool_dashboard.png" alt="Amazon Sponsored Product Ads PPC">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="alerts"></div>
    <div class="row light-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-0 order-md-1 order-sm-1 order-xs-1">
                    <h2>Get Alerted on Business Critical Events</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>React Quickly to Listing Hijackers and Negative Listing Events</h4>
                            <p>Get notified about listing changes, like product image removal or product title updates.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Know When you Lose the Buy Box (Beta)</h4>
                            <p>No need to wait for days or weeks before discovering that you are losing the buy box. Get alerted on the exact cause of a lost buy box.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Get Alerted on Negative Reviews, Feedback and Questions</h4>
                            <p>Receive single or digest email alerts for product reviews. Also get notified for seller feedback, questions left and more.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Receive Sales Alerts</h4>
                            <p>We send you the biggest weekly movers and top performers. It's always good to know what's going well.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-1 order-md-0 order-sm-0 order-xs-0">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/alerts0319.png" alt="Amazon Hijack Buy Box Alerts">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="emails"></div>
    <div class="row animated-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h2>Get More Reviews with Email Automation</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Buyer-Seller Messaging</h4>
                            <p>Send timely emails to connect with customers within Amazon terms of service.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Customizable Email Templates</h4>
                            <p>Use placeholders to customize your emails. Embed images, send attachments and request for review.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Email Open Rate Measurement</h4>
                            <p>Measure email open rates to track over a date range to see how effective your campaigns are overall.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Unlimited Emails Across Multiple Marketplaces</h4>
                            <p>Unlike some other tools, we do not limit or charge you for the number of emails you send out through Efficient Era. We support North America, Europe and Japan.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/emails-0319.png" alt="Amazon Email Automation">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="products"></div>
    <div class="row light-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-0 order-md-1 order-sm-1 order-xs-1">
                    <h2>Monitor Your Product Listings</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Buy Box Ownership (Beta)</h4>
                            <p>Buy Box losses need to addressed quickly to avoid needless loss of sales. We provide various reasons of loss such as Page Suppression by Amazon, No Stock, No offer etc.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Inventory Health</h4>
                            <p>View balance stock, sales, reviews, run rate and profits on a per product basis. Annotate your inventory with key events to refer back later.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Profit Analysis</h4>
                            <p>Visually drill down into the various cost heads such as Ads, Returns, Landed Costs, Amazon fees on a per product basis.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Run Rate</h4>
                            <p>Know the per product run rate during a given date range to guide restocking decisions.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-1 order-md-0 order-sm-0 order-xs-0">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/products-0319.png" alt="Amazon Product Listings">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="profits"></div>
    <div class="row animated-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h2>Know Your Profits</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Profit Analysis</h4>
                            <p>Analyze your profits on a per product basis. Profit calculations take into account Landed Costs, Ads, Promotions, Amazon Fees, Returns and Sales.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Profits by Marketplace</h4>
                            <p>Measure profitability in 9 marketplaces, including US, Canada, Mexico, UK, Italy, France, Germany, Spain, and Japan.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Identify Unprofitable Products</h4>
                            <p>Don't let unprofitable items pull you down. Quickly identify products that are candidates for further analysis and possible removal from your inventory.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Identify Profitable Items</h4>
                            <p>You might be surprised that your best selling products may not always be your more profitable ones. Drill down into profitability calculations over time ranges.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/profits-0319.png" alt="Amazon Profit Calculator">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="reviews"></div>
    <div class="row light-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-0 order-md-1 order-sm-1 order-xs-1">
                    <h2>Monitor Reviews and Feedback</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Review Monitoring</h4>
                            <p>Receive review and feedback alerts as single or weekly digest emails.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Product Wise Review Alerts</h4>
                            <p>Fine tune your review monitoring to the product level. Set emails to be sent to different team members for specific products.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Review Analytics</h4>
                            <p>RMeasure your review performance over time, search all review texts for patterns at the ASIN level. </p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Negative Seller Feedback Automation</h4>
                            <p>Automate your "sorry" email in response to a negative seller feedback, and avoid a possible negative product review.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-1 order-md-0 order-sm-0 order-xs-0">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/reviews-0319.png" alt="Amazon Reviews and Feedback Management">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="orders"></div>
    <div class="row animated-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h2>Extract Important Information From Orders Data</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Large Orders and B2B Customers</h4>
                            <p>Download a list of large orders as well as orders placed by B2B customers. Search, sort, filter and export to CSV for further analysis.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Repeat Customers</h4>
                            <p>Download a list of your repeat customers from your orders reports. No need to manually collate reports in Excel. </p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Orders from Promotions</h4>
                            <p>Find out which Amazon promotions resulted in orders. Click through to Order Details page.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Returns Monitoring</h4>
                            <p>Monitor your per-product return rates. Find out your worst and best performing products in terms of returns. High return rates are red flags for Amazon.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/orders-0319.png" alt="Amazon Order Automation">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="returns"></div>
    <div class="row light-row py-5">
        <div class="col-lg-auto offset-xl-1 col-xl-10">
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-0 order-md-1 order-sm-1 order-xs-1">
                    <h2>Reduce Your Return Rates</h2>
                    <ul class="list-group list-group-flush feature-list-group">
                        <li class="list-group-item feature-list-item">
                            <h4>Identify Products with High Return Rates</h4>
                            <p>These are your red flags. Amazon will make your products ineligible for FBA if your cross these thresholds. We provide a way for you to detect these early and prevent further damage.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Return Alerts</h4>
                            <p>Every week we send you a consolidated list of items returns including return reasons quoted. Analyze this carefully to detect patterns that can lead to bigger issues.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Return Reasons</h4>
                            <p>We provide convenient lists of returns by Return Reasons, giving you an extra point of focus for early problem detection.</p>
                        </li>
                        <li class="list-group-item feature-list-item">
                            <h4>Prevent Negative Reviews with an Automated Email</h4>
                            <p>There is a small window of opportunity between someone initiating a return and leaving a negative review. Time is of essence. Use our email automation to reach out with a "Sorry" email. </p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-1 order-md-0 order-sm-0 order-xs-0">
                    <figure>
                        <img class="img-fluid rounded mx-auto shadow" src="/images/pages/features/profits-0319.png" alt="Amazon Return Calculator">
                    </figure>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-ee" href="https://app.efficientera.com/signup/" target="_blank" onclick="handleSignup();">Get Started for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof (settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof (settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>
{% endblock %}