{% extends 'base.html' %}

{% block meta %}
    <meta name="save_as" content="resources/index.html" />
{% endblock %}

{% block content %}
    <div class="row py-4">
        <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                        <a href="https://www.amazon.com/Flywheels-Feedback-Loops-Success-Private-Label-ebook/dp/B01MS2CNQO/ref=mt_kindle?_encoding=UTF8&me=" target="_blank"><img class="card-img-top" src="/images/pages/resources/flywheel.png" alt="Flywheels and Feedback Loops"></a>
                        <div class="card-body">
                            <h5 class="card-title">Flywheels and Feedback Loops: A Guide to Success for Amazon Private Label Sellers</h5>
                            <p class="card-text">With a 5 star rating on Amazon, this book by Efficient Era founder, Bernie Thompson, is a must read for any serious Amazon Private Label seller. Packed with hundreds of strategies, it reveals the appraoach that Bernie himself uses in running his private label business on Amazon.</p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://mailchi.mp/f2bb380f594a/capitalize-on-keywords" target="_blank"><img class="card-img-top" src="/images/pages/resources/ppc.jpg" alt="Use Amazon Sponsored Products Advertising to Hone Your Keywords"></a>
                        <div class="card-body">
                            <h5 class="card-title">Use Amazon Sponsored Products Advertising to Hone Your Keywords</h5>
                            <p class="card-text">For online marketplaces today, it’s only viable to skip in-market advertising if your product is truly unique and you have some other way of making people look for it specifically in organic search.</p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://mailchi.mp/f2bb380f594a/capitalize-on-keywords" target="_blank"><img class="card-img-top" src="/images/pages/resources/keywords.jpg" alt="Understanding How To Capitalize On Keywords"></a>
                        <div class="card-body">
                            <h5 class="card-title">Understanding How To Capitalize On Keywords</h5>
                            <p class="card-text">Sellers often think of keywords as “Amazon SEO,” but it’s important to recognize critical differences from Google SEO. For starters, Amazon’s search engine is more simplistic. More importantly, it serves a different function, so a different approach is required to capitalize on it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="offset-1 col-10">
            <div class="text-center">
                <h1>Videos</h1>
                <h3>Ask Bernie: All Things Amazon</h3>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W2y4woEuIOE?&showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/smhpVxWR7Lk?&showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UE26aFNwCE4?&showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="offset-1 col-10">
            <div class="text-center">
                <h1>Webinars</h1>
            </div>
        </div>
    </div>
    <div class="row pt-2 pb-4">
        <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xoCXN6d8Ty8?&showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BR1hoQV6kEQ?&showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0HZTj5JpNOA?&showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
